# === Python virtual environment ===
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
env/

# === Build / Deployment Artifacts ===
build/
.C/
faas-cli-config.yml/config.yml   # lokale OpenFaaS-Config
*.aws-sam/
*.serverless/

# === Modelle / große Binärdateien ===
functions/distilbert-finetuned-inference/mein_finetuned_modell/
functions/logreg-inference/logistic_diabetes_model.joblib
functions/logreg-inference/scaler.joblib
functions/yolov5s-inference/yolov5_local_repo/
functions/yolov5s-inference/yolov5_local_repo/yolov5s.pt
logreg/logistic_diabetes_model.joblib
logreg/scaler.joblib
models/

# === Monitoring / Test-Artefakte ===
monitoring/
monitoring/**/bilder/
monitoring/**/csv/
client_metrics.json
client_metric_diagramms.ipynb
server_metric_diagramms.ipynb

# === Lokale Editor/IDE Settings ===
.vscode/settings.json
.vscode/launch.json
*.suo
*.user

# === Sonstige Verzeichnisse / Dateien ===
ml-tests/Bilder für yolov5s/   # falls zu groß, sonst bei kleinen Bildern drinlassen
*.log
